@charset "UTF-8";

.height{

    /* height: 300px; */
    overflow: hidden;
}
.del_btn{
    margin-left: 10px;
}
#tables{
    transition: 1.2s;
}

.control-list{
    margin-top: 3%;
    float: right;
}
.navbar{
    padding: 0px!important;
    margin-bottom: 0.5%;
    margin-top: 1%;
}

[v-cloak],
.hidden {
    display: none;
}

